<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dan Amodio | {{ page.title }}</title>
        <meta name="description" content="">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="Dan Amodio's Blog">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ page.url }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="">

        <meta name="google-site-verification" content="" />

        <link href="/atom.xml" type="application/rss+xml" rel="alternate" title="Dan Amodio's Blog" />

        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/syntax.css">
    <head>
    <body>

    <nav>
    </nav>

    <article>
{{ content }}
    </article>

    <footer>
        <!-- twitter, linkedin, rss -->
    </footer>

    </body>
    
</html>
